<section class="grid items-center py-12 md:py-16 lg:py-20">
  <div class="container mx-auto px-4 flex flex-col items-start gap-4 md:gap-5">
    {% render 'image', class: 'h-[50vh] lg:h-[30rem]', image: section.settings.image %}
    <h1 class="max-w-xl scroll-m-20 text-4xl font-medium tracking-tight lg:text-5xl">
      {{ section.settings.heading }}
    </h1>
    <p class="max-w-prose text-xl text-gray-500">
      {{ section.settings.text }}
    </p>
    {% if section.settings.label != blank %}
      <a
        href="{{ routes.root_url }}"
        class="inline-flex items-center justify-center px-6 h-11 font-medium rounded-sm text-white bg-black">
        {{ section.settings.label }}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Main Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to theme starter template by Odestry"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Start building your theme by editing this section file."
    },
    {
      "type": "text",
      "id": "label",
      "label": "Button Label",
      "default": "Get Started"
    }
  ]
}
{% endschema %}
