<section
  class="grid items-center py-[calc(var(--spacing)*0.75)] lg:py-[--spacing]"
  style="--spacing: {{ section.settings.spacing }}px">
  <div class="container mx-auto px-4 flex flex-col items-start gap-4 md:gap-5">
    {% liquid
      assign image = section.settings.image | default: page_image
      render 'image' with image, class: 'aspect-square md:aspect-auto lg:h-[30rem]', preload: true
    %}
    <h1 class="max-w-xl scroll-m-20 text-4xl font-medium tracking-tight lg:text-5xl">
      {{ section.settings.heading }}
    </h1>
    <p class="max-w-prose text-xl text-gray-500">
      {{ section.settings.text }}
    </p>
    {% if section.settings.button_label != blank %}
      <button
        type="button"
        class="inline-flex items-center justify-center rounded-sm font-medium transition-colors disabled:pointer-events-none disabled:opacity-50 px-8 h-12 text-white bg-black application-button">
        {{ section.settings.button_label }}
      </button>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Main Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "A demo of PWA Shopify theme built by Odestry"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Start building your theme by editing this section file."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Install Application"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 80,
      "step": 4,
      "unit": "px",
      "label": "Vertical Spacing",
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Main Section"
    }
  ]
}
{% endschema %}
